apiVersion: v1
kind: Service
metadata:
  name: mysql-service     # 스프링부트가 이 이름으로 접속함!
spec:
  selector:
    app: mysql-app        # 위의 Deployment랑 연결하는 고리
  ports:
    - protocol: TCP
      port: 3306          # 서비스 포트 (들어오는 구멍)
      targetPort: 3306    # 컨테이너 포트 (실제 구멍)
      nodePort: 30000    # (3) ★여기! 외부(내 PC)에서 접속할 포트★
  type: NodePort

---

apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend-app
  type: NodePort
  ports:
    - port: 8888
      targetPort: 8888
      nodePort: 30888      # 로컬 접속용 (localhost:30888)

---

apiVersion: v1
kind: Service
metadata:
  name: backend-service
spec:
  selector:
    app: backend-app
  type: NodePort
  ports:
    - port: 8888
      targetPort: 8888
      nodePort: 30888      # 로컬 접속용 (localhost:30888)

#---
#
#apiVersion: v1
#kind: Service
#metadata:
#  name: frontend-service
#spec:
#  selector:
#    app: frontend-app
#  type: NodePort
#  ports:
#    - port: 80
#      targetPort: 80
#      nodePort: 30080      # 로컬 접속용 (localhost:30080)