spring:
  datasource:
    url: ${MYSQL_URL}
    username: ${MYSQL_USER}
    password: ${MYSQL_PASSWORD}

  data:
    redis:
      host: redis
      port: 6379
      password: ${REDIS_PASSWORD:1234}

jwt:
  secret: ${JWT_SECRET_KEY}
