spring:
  datasource:
    url: jdbc:mysql://localhost:30000/portfolio?useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=UTF-8&serverTimezone=Asia/Seoul
    username: root
    password: 1234

  data:
    redis:
      host: localhost
      port: 6379
      password: 1234

jwt:
  secret: MySecureJwtSecretKey1234567890ABCDEFGHIJKLMNOP
